body {
    background-color: #171717;
    font-family: outfit;
    color:#FAFAFA;
}

.formCont{
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    width: 30vw;
    height: 70vh;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 25px rgba(0, 255, 150, 0.3);
    border: transparent;
    opacity: 0.9;
    backdrop-filter: blur(1000px); /* Glass effect */
    background: rgba(20, 20, 20, 0.8); 
}

.names{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
 
}
.nameInput{
    width: 130px;
    height: 30px;
    margin-top: 40px;
    background-color: #202020;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: outfit;
    font-weight: 400;
    text-align: center;
    box-shadow: 0px 0px 10px 6px rgb(0,0,0,0.2);
}
.nameInput::placeholder{
    text-align: center;
}


input:focus{
    border:none;
    outline: none;
    border-color: transparent;
    background: linear-gradient(90deg,#202020,transparent 50%,#202020);
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.password{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

 i {
    position: absolute;
    left:60px;
    color: #888;
    pointer-events: none;
    font-size: 16px;
    margin-top: 10px;
}


.emailInput{
    width: 253px;
    height: 30px;
    margin-top: 10px;
    background-color: #202020;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: outfit;
    font-weight: 400;
    text-align: center;
    padding-left: 32px;
     box-shadow: 0px 0px 10px 6px rgb(0,0,0,0.2);
}

.passwordInput{
    width: 253px;
    height: 30px;
    margin-top: 10px;
    background-color: #202020;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: outfit;
    font-weight: 400;
    text-align: center;
    padding-left: 32px;
    box-shadow: 0px 0px 10px 6px rgb(0,0,0,0.2);
}

.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.phoneInput{
    width: 253px;
    height: 30px;
    margin-top: 10px;
    background-color: #202020;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: outfit;
    font-weight: 400;
    text-align: center;
    padding-left: 32px;
    box-shadow: 0px 0px 10px 6px rgb(0,0,0,0.2)
}

.submitInput{
    width: 283px;
    height: 35px;
    margin-top: 10px;
    background-color: #3ECF8E;
    border: none;
    border-radius: 5px;
    color: #202020;
    font-size: 0.9rem;
    text-align: center;
    line-height: 0;
    font-family: outfit;
    font-weight: 600;
    box-shadow: 0px 0px 10px 6px rgb(0,0,0,0.2);
    border: none;

}

.submitInput:hover{
    background-color: #29835a;
    transition: 0.3s;
    transform:scaleY(1.05) scaleX(1.05) translateY(-3px);
   
}

.submitcont{
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    text-align: center;
    
}



